.manage-action {
    padding: 48px 96px;
}

.manage-action .manage-action__container {
    background-color: var(--white);
    box-shadow: 0px 0px 3px 0 #bbbbbb inset;
}

.manage-action .manage-action__container .action-title {
    margin-bottom: 32px;
    padding: 24px 16px 24px 16px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.4);
}

.manage-action .manage-action__container .action-content {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.manage-action__container .action-content .action-content__form {
    flex: 1;
}

.manage-action__container .action-content .form-btn {
    position: absolute;
    top: 100%;
    right: 0;
}

.manage-action__container .action-content .action-content__rules {
    flex: 1;
    display: flex;
    border-left: 1px solid #bbbbbb;
}

.action-content .action-content__rules .action-rules-container {
}

.action-content__rules .action-rules-container .action-rules-text {
    margin-left: 16px;
    margin-bottom: 16px;
}

.action-content__rules .action-rules-container .action-rules-list {
    margin-left: 32px;
}

.action-rules-container .action-rules-list .action-rules-list__item {
    margin-bottom: 8px;
}

.action-rules-container .action-rules-list .action-rules-list__item:last-child {
        margin-bottom: 0px;
}

.manage-action .manage-action__container .action-return {
    padding: 0px 16px 24px 16px;
}















/* Display On: PC, Tablet, Mobile */
/*PC*/
@media (min-width: 64em) {
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/*Mobile*/
@media (max-width: 46.1875em) {
}

/*Tablet and Mobile*/
@media (max-width: 63.9375em) {
}
