@using Microsoft.AspNetCore.Identity
@using EasyCodeAcademy.Web.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="ml-32">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="link-restart site-link-hover">
            Welcome @UserManager.GetUserName(User)!
        </a>
        <a asp-area="Identity" asp-page="/Account/Logout" class="link-restart site-link-hover ml-8">Log Out</a>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Register" class="site-user-signup">Register</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="site-user-login ml-8">Log In</a>
    }
</div>

@*<div class="nav-bar__identify ml-32">
    <a asp-area="Identity" asp-page="/Account/Register" class="user-signup">Sign Up</a>
    <a asp-area="Identity" asp-page="/Account/Login" class="user-login ml-8">Log In</a>
</div>*@