@page "/Inventory/PaypalCheckout/Failed"
@model EasyCodeAcademy.Web.Pages.Inventory.Checkout.Paypal.FailedModel
@{
    Layout = "/Pages/Shared/_Identity_Layout.cshtml";
}

<h2>Checkout Status</h2>
<p class="alert alert-danger">Checkout Failed.</p>