@page "/Inventory/PaypalCheckout/Success"
@model EasyCodeAcademy.Web.Pages.Inventory.Checkout.Paypal.SuccessModel
@{
    Layout = "/Pages/Shared/_Identity_Layout.cshtml";
}

<h2>Checkout Status</h2>
<p class="alert alert-success">
    Checkout Success.
</p>