.content__container[b-pz59yc5fnf] {
}

.breadcrumb[b-pz59yc5fnf] {
    padding: 8px 96px;
    background-color: #f3f3f3;
}

.breadcrumb .breadcrumb__list[b-pz59yc5fnf] {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.breadcrumb .breadcrumb__list .breadcrumb__list__item[b-pz59yc5fnf] {
    display: flex;
    align-items: center;
}

.breadcrumb__list .breadcrumb__list__item.breadcrumb-current[b-pz59yc5fnf] {
    color: var(--blue_purple);
    font-weight: bold;
}

.breadcrumb__list .breadcrumb__list__item .breadcrumb-link[b-pz59yc5fnf] {
    text-decoration: none;
    color: var(--text-black);
}

.breadcrumb__list .breadcrumb__list__item i[b-pz59yc5fnf] {
    margin: 0 8px;
}

.content__container .challenge-topic-title[b-pz59yc5fnf] {
    margin-top: 16px;
    padding: 0px 96px;
}

.content__container .challenge-topic-title .challenge-topic-title__text[b-pz59yc5fnf] {
    font-weight: bold;
    text-align: center;
    color: #525a63;
    font-size: 24px;
}

.content__container .challenge-topic-content[b-pz59yc5fnf] {
    padding: 16px 96px;
    display: flex;
}

.content__container .challenge-topic-content .challenge-topic-content__info[b-pz59yc5fnf] {
    flex: 4;
}

.challenge-topic-content .challenge-topic-content__info .challenge-info-question[b-pz59yc5fnf] {

}

.challenge-topic-content__info .challenge-info-question .challenge-info-question__content[b-pz59yc5fnf] {

}

.challenge-info-question .challenge-info-question__content .challenge-question-title[b-pz59yc5fnf] {

}

.challenge-info-question .challenge-info-question__content .challenge-question-text[b-pz59yc5fnf] {

}

.challenge-info-question__content .challenge-question-text .question-text[b-pz59yc5fnf] {
    color: #525a63;
}

.challenge-info-question .challenge-info-question__content .challenge-question-attention[b-pz59yc5fnf] {

}

.challenge-info-question__content .challenge-question-attention .question-attention-title[b-pz59yc5fnf] {
    font-weight: bold;
    color: #525a63;
}

.challenge-info-question__content .challenge-question-attention .question-attention-list[b-pz59yc5fnf] {
    margin-left: 16px;
}

.challenge-question-attention .question-attention-list .question-attention-list__item[b-pz59yc5fnf] {
    color: #525a63;
}

.challenge-question-attention .question-attention-list .question-attention-list__item + .question-attention-list__item[b-pz59yc5fnf] {
    margin-top: 8px;
}

.question-attention-list .question-attention-list__item .question-attention-btn[b-pz59yc5fnf] {
    border: 1px solid #bbbbbb;
    padding: 4px 8px;
}

.question-attention-list__item .question-attention-btn i[b-pz59yc5fnf] {
    margin-right: 8px;
}

.challenge-topic-content__info .challenge-info-question .challenge-info-question__input[b-pz59yc5fnf] {
}

.challenge-info-question .challenge-info-question__input .challenge-input-title[b-pz59yc5fnf] {

}

.challenge-info-question .challenge-info-question__input .challenge-input-content[b-pz59yc5fnf] {
    color: #525a63;
}

.challenge-topic-content__info .challenge-info-question .challenge-info-question__output[b-pz59yc5fnf] {
}

.challenge-info-question .challenge-info-question__output .challenge-output-title[b-pz59yc5fnf] {

}

.challenge-info-question .challenge-info-question__output .challenge-output-content[b-pz59yc5fnf] {
    color: #525a63;
}

.challenge-topic-content__info .challenge-info-question .challenge-info-question__hint[b-pz59yc5fnf] {

}

.challenge-info-question .challenge-info-question__hint .challenge-hint-title[b-pz59yc5fnf] {

}

.challenge-info-question .challenge-info-question__hint .challenge-hint-content[b-pz59yc5fnf] {
    color: #525a63;
}

.content__container .challenge-topic-content .challenge-topic-content__overview[b-pz59yc5fnf] {
    flex: 2;
    border-left: 2px solid #bbbbbb;
}

.challenge-topic-content .challenge-topic-content__overview .challenge-overview-specification[b-pz59yc5fnf] {
    margin: 0px 16px;
}

.challenge-topic-content__overview .challenge-overview-specification .challenge-specification-title[b-pz59yc5fnf] {

}

.challenge-topic-content__overview .challenge-overview-specification .challenge-specification-item[b-pz59yc5fnf] {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: #525a63;
}

.challenge-topic-content .challenge-topic-content__overview .challenge-overview-submit[b-pz59yc5fnf] {
    margin: 0px 16px;
}

.challenge-topic-content__overview .challenge-overview-submit .challenge-submit-title[b-pz59yc5fnf] {

}

.challenge-topic-content__overview .challenge-overview-submit .challenge-submit-content[b-pz59yc5fnf] {
    margin-top: 8px;
}

.challenge-overview-submit .challenge-submit-content .challenge-submit-content__link[b-pz59yc5fnf] {
    color: var(--blue_purple);
    text-decoration: none;
}

.challenge-submit-content .challenge-submit-content__link i[b-pz59yc5fnf] {
    width: 20px;
    height: 20px;
    min-width: 16px;
    margin-right: 8px;
}

.challenge-topic-content .challenge-topic-content__overview .challenge-overview-statistics[b-pz59yc5fnf] {
    margin: 0px 16px;
}

.challenge-topic-content__overview .challenge-overview-statistics .challenge-statistics-title[b-pz59yc5fnf] {

}

.challenge-topic-content__overview .challenge-overview-statistics .challenge-statistics-content[b-pz59yc5fnf] {
    margin-top: 8px;
}

.challenge-overview-statistics .challenge-statistics-content .challenge-statistics-item[b-pz59yc5fnf] {
    display: flex;
    justify-content: space-between;
}

.challenge-overview-statistics .challenge-statistics-content .challenge-statistics-item + .challenge-statistics-item[b-pz59yc5fnf] {
    margin-top: 8px;
}

.challenge-topic-content__overview .challenge-overview-statistics .challenge-statistics-reason[b-pz59yc5fnf] {
    margin-top: 8px;
}

.challenge-overview-statistics .challenge-statistics-reason .challenge-statistics-reason__link[b-pz59yc5fnf] {
    color: var(--blue_purple);
    text-decoration: none;
}

.challenge-statistics-reason .challenge-statistics-reason__link i[b-pz59yc5fnf] {
    width: 20px;
    height: 20px;
    min-width: 16px;
    margin-right: 8px;
}

.challenge-topic-content .challenge-topic-content__overview .challenge-overview-rating[b-pz59yc5fnf] {
    margin: 0px 16px;
}

.challenge-topic-content__overview .challenge-overview-rating .challenge-rating-title[b-pz59yc5fnf] {

}

.challenge-topic-content__overview .challenge-overview-rating .challenge-rating-content[b-pz59yc5fnf] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
}

.challenge-overview-rating .challenge-rating-content .challenge-rating-btn[b-pz59yc5fnf] {
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    width: 100px;
}

.challenge-overview-rating .challenge-rating-content .challenge-rating-btn + .challenge-rating-btn[b-pz59yc5fnf] {
    margin-top: 16px;
}

.challenge-rating-content .challenge-rating-btn.challenge-rating-btn--green[b-pz59yc5fnf] {
    color: #5cbe32;
    border: 1px solid #5cbe32;
}

.challenge-rating-content .challenge-rating-btn.challenge-rating-btn--yellow[b-pz59yc5fnf] {
    color: #d0b833;
    border: 1px solid #d0b833;
}

.challenge-rating-content .challenge-rating-btn.challenge-rating-btn--red[b-pz59yc5fnf] {
    color: #d82c2c;
    border: 1px solid #d82c2c;
}

.challenge-topic-content__overview .challenge-overview-rating .challenge-rating-action[b-pz59yc5fnf] {
    margin-top: 16px;
}

.challenge-overview-rating .challenge-rating-action .challenge-help-btn[b-pz59yc5fnf] {
    border: 1px solid #bbbbbb;
    padding: 4px 8px;
}

.challenge-rating-action .challenge-help-btn i[b-pz59yc5fnf] {
    margin-right: 8px;
}

.challenge-overview-rating .challenge-rating-action .challenge-report-btn[b-pz59yc5fnf] {
    border: 1px solid #bbbbbb;
    padding: 4px 8px;
}

.challenge-rating-action .challenge-report-btn i[b-pz59yc5fnf] {
    margin-right: 8px;
}

.content__container .challenge-topic-ide[b-pz59yc5fnf] {
    padding: 16px 96px;
}

.content__container .relative-topics[b-pz59yc5fnf] {
    padding: 16px 96px;
}

.content__container .relative-topics .relative-topics__container[b-pz59yc5fnf] {

}

.relative-topics .relative-topics__container .relative-topics-title[b-pz59yc5fnf] {

}

.relative-topics .relative-topics__container .relative-topics-content[b-pz59yc5fnf] {
    margin-top: 16px;
}

.relative-topics__container .relative-topics-content .relative-topics-list[b-pz59yc5fnf] {
    list-style-type: none;
}

.relative-topics-content .relative-topics-list .relative-topics-list__item[b-pz59yc5fnf] {
    
}

.relative-topics-content .relative-topics-list .relative-topics-list__item + .relative-topics-list__item[b-pz59yc5fnf] {
    margin-top: 8px;
}

.relative-topics-list .relative-topics-list__item .topic-item-title-link[b-pz59yc5fnf] {
    text-decoration: none;
    color: var(--blue_purple);
}

.relative-topics-list__item .topic-item-title-link i[b-pz59yc5fnf] {
    margin-right: 8px;
}

.relative-topics-list .relative-topics-list__item .topic-item-level[b-pz59yc5fnf] {
    font-weight: bold;
    margin-left: 8px;
}

.relative-topics-list__item .topic-item-level.topic-item-level--green[b-pz59yc5fnf] {
    color: #5cbe32;
}

.relative-topics-list__item .topic-item-level.topic-item-level--yellow[b-pz59yc5fnf] {
    color: #d0b833;
}

.relative-topics-list__item .topic-item-level.topic-item-level--red[b-pz59yc5fnf] {
    color: #d82c2c;
}









/* Display On: PC, Tablet, Mobile */
/*PC*/
@media (min-width: 64em) {
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .breadcrumb[b-pz59yc5fnf] {
        padding: 8px 48px;
    }

    .content__container .challenge-topic-title[b-pz59yc5fnf] {
        padding: 0px 48px;
    }

    .content__container .challenge-topic-content[b-pz59yc5fnf] {
        padding: 16px 48px;
    }

    .content__container .challenge-topic-ide[b-pz59yc5fnf] {
        padding: 16px 48px;
    }

    .content__container .relative-topics[b-pz59yc5fnf] {
        padding: 16px 48px;
    }
}

/*Mobile*/
@media (max-width: 46.1875em) {
    .breadcrumb[b-pz59yc5fnf] {
        padding: 8px 12px;
    }

    .content__container .challenge-topic-title[b-pz59yc5fnf] {
        padding: 0px 12px;
    }

    .content__container .challenge-topic-content[b-pz59yc5fnf] {
        padding: 16px 12px;
    }

    .content__container .challenge-topic-ide[b-pz59yc5fnf] {
        padding: 16px 12px;
    }

    .content__container .relative-topics[b-pz59yc5fnf] {
        padding: 16px 12px;
    }
}

/*Tablet and Mobile*/
@media (max-width: 63.9375em) {
}