:root {
    --white: #ffffff;
    --black: #000;
    --blue: #4764bb;
    --bright-blue: #0094ff;
    --blue_purple: #6c4cd8;
    --green: #3eca50;
    --yellow: #e3c622;
    --text-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Century Gothic';
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Begin: Common Use*/
.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right!important;
}

.font-24 {
    font-size: 24px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-96 {
    margin-top: 96px !important;
}

.mt-128 {
    margin-top: 128px !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.ml-32 {
    margin-left: 32px !important;
}

.ml-64 {
    margin-left: 64px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mr-32 {
    margin-right: 32px !important;
}

.mr-64 {
    margin-right: 64px !important;
}

.mb-delete {
    margin-bottom: 0px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.color-white {
    color: var(--white) !important;
}

.btn-restart {
    border: none;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Century Gothic';
    cursor: pointer;
    line-height: 1.5;
}

.block {
    display: block !important;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

.hide {
    display: none !important;
}

.remove-shadow-t {
    border-top: 0px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.heading {
    font-size: 36px;
}

.sub-heading {
    font-size: 26px;
}

.text-heading {
    font-size: 20px;
}

.text-medium {
    font-size: 14px;
}

.text-small {
    font-size: 12px;
}

.text-tiny {
    font-size: 5px;
}

.text-normal {
    font-size: 16px;
}

.text-danger {
    color: #ff0000 !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.disabled {
    opacity: 0.4 !important;
    cursor: default !important;
    background-color: transparent !important;
}

.pad-l-16 {
    padding-left: 16px !important;
}

.pad-r-48 {
    padding-right: 48px !important;
}

.add-list-style-type {
    list-style-type: disc !important;
}

.remove-list-style-type {
    list-style-type: none !important;
}

.list-item-content-group {
    position: relative;
}

.list-item-remove-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    margin-right: 16px;
}

.standard-icon {
    width: 20px;
    min-width: 16px;
}

.border-restart {
    border: none;
}

.link-restart {
    text-decoration: none;
    color: var(--text-black);
    display: inline-block;
    font-family: "Century Gothic";
}

.padding-item-link {
    padding: 16px 24px 16px 0px !important;
    display: inline-block !important;
}

.full-width {
    width: 100% !important;
}

.text-bold {
    font-weight: bold !important;
}

.d-i-block {
    display: inline-block !important;
}

.link-basic {
    padding: 8px 16px !important;
    background-color: #f8f8f8 !important;
    box-shadow: 0px 0px 3px 0 #bbbbbb !important;
    border-radius: 4px !important;
}

.link-basic-rgba {
    padding: 8px 16px !important;
    background-color: rgba(245,245,245,0.9) !important;
    box-shadow: 0px 0px 3px 0 #bbbbbb !important;
    border-radius: 4px !important;
}

.link-disabled {
    cursor: default !important;
    pointer-events: none;
}

.min-width-120 {
    min-width: 120px !important;
}

.background-rgba-9 {
    background-color: rgba(245,245,245,0.9) !important;
}

.action-form {

    display: inline-block;
}

.form-group {
}

.form-group::after {
    content: "" !important;
    display:table !important;
    clear: both !important;
}

.form-inline {
    display: inline-block !important;
}

.control-label {
    display: inline-block !important;
}

.form-control {
    display: inline-block !important;
    padding: 8px 16px;
}

.border-radius-16 {
    border-radius: 16px;
}

.border-primary-1 {
    border: 1px solid #bbbbbb;
}

.remove-outline {
    outline: none !important;
}

.form-btn {

}

.btn-basic {
    padding: 8px 16px !important;
    border: 1px solid #bbbbbb !important;
    font-weight: bold !important;
    border-radius: 4px !important;
}

.btn-config {
    padding: 4px 6px !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    border: 1px solid #bbbbbb !important;
    background-color: #f2f2f2;
    font-weight: 600;
}

.absolute-top-full-left {
    position: absolute;
    top: calc(100% + 32px); /*Full Width + Margin Bottom 32px*/
    left: 0;
}

.absolute-top-full-right {
    position: absolute;
    top: calc(100% + 32px); /*Full Width + Margin Bottom 32px*/
    right: 0;
}

.sticky{
    position: sticky !important;
}

.z-index-10000 {
    z-index: 10000 !important;
}

.z-index-10001 {
    z-index: 10001 !important;
}

.site-subnav-link {
    padding: 8px 24px;
    text-decoration: none;
    color: var(--text-black);
    display: inline-block;
}

.site-subnav-link:hover {
    color: var(--blue_purple);
}

.site-user-signup {
    padding: 8px 16px;
    color: var(--white);
    background-color: var(--blue_purple);
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Century Gothic';
}

.site-user-signup:hover {
    color: var(--white);
}

.site-user-login {
    padding: 8px 16px;
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Century Gothic';
}

.site-user-login:hover {
    color: var(--black);
}

.site-link-hover {

}
.site-link-hover:hover {
    color: var(--blue_purple);
}

/*Paging*/
.list-paging-control {
    display: flex;
    list-style-type: none;
}

.active-link {
    font-weight: bold;
}

.text-no-wrap {
    white-space: nowrap;
}

/* For summernote override unordered and order list */
.note-editable ul {
    list-style: disc !important;
    list-style-position: inside !important;
}

.note-editable ol {
    list-style: decimal !important;
    list-style-position: inside !important;
}

/* For summernote override element*/
.note-editable p + p {
    margin-top: 8px;
}


/*End: Common Use*/
