.content__container {
}

/*.breadcrumb {
    padding: 8px 96px;
    background-color: #f3f3f3;
}

.breadcrumb .breadcrumb__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.breadcrumb .breadcrumb__list .breadcrumb__list__item {
    display: flex;
    align-items: center;
}

.breadcrumb__list .breadcrumb__list__item.breadcrumb-current {
    color: var(--blue_purple);
    font-weight: bold;
}

.breadcrumb__list .breadcrumb__list__item .breadcrumb-link {
    text-decoration: none;
    color: var(--text-black);
}

.breadcrumb__list .breadcrumb__list__item i {
    margin: 0 8px;
}*/

.content__container .activity-challenges {
    padding: 32px 96px;
}

.content__container .activity-challenges .activity-challenges__title {
    font-weight: bold;
}

.content__container .activity-challenges .activity-challenges__content {
    display: flex;
}

.activity-challenges .activity-challenges__content .challenges-container {
    flex: 4;
    background-color: var(--white);
    border: 1px solid #bbbbbb;
}

.activity-challenges__content .challenges-container .challenges-container__filter {
    padding: 16px 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.challenges-container .challenges-container__filter .challenges-filter-item {
}

.challenges-container .challenges-container__filter .challenges-filter-item + .challenges-filter-item {
    
}

.challenges-container__filter .challenges-filter-item .challenges-filter-title {
    font-weight: bold;
}

.challenges-container__filter .challenges-filter-item .challenges-filter-value {
}

.activity-challenges__content .challenges-container .challenges-container__list {
    overflow-y: auto;
    min-height: 400px;
    max-height: 400px;
    /*    padding: 16px 0px;*/
}

.challenges-container .challenges-container__list .challenges-list-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.challenges-container__list .challenges-list-table .challenges-list-thead {

}

.challenges-list-table .challenges-list-thead .challenges-list-tr {
    /*    box-shadow: 0px 0px 6px 0 #bbbbbb;*/
    border-top: 1px solid #bbbbbb;
    border-bottom: 0.5px solid #bbbbbb;
    
}

.challenges-list-thead .challenges-list-tr .challenges-list-th {
    padding: 16px 8px;
    position: sticky;
    top: 0;
    background-color: var(--white);
}

.challenges-container__list .challenges-list-table .challenges-list-tbody {
    
}

.challenges-list-table .challenges-list-tbody .challenges-list-tr {
    position: relative;
}

.challenges-list-table .challenges-list-tbody .challenges-list-tr:nth-child(even) {
    background-color: #f8f8f9;
}


.challenges-list-tbody .challenges-list-tr.orangeYellow, .challenges-list-tbody .challenges-list-tr:nth-child(even).orangeYellow {
    background-color: #ebdd6d;
}

.challenges-list-tbody .challenges-list-tr .challenges-list-td {
    padding: 16px 8px;
    cursor: pointer;
}

.challenges-list-tr .challenges-list-td.challenges-list-id {

}

.challenges-list-tr .challenges-list-td.challenges-list-id::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.activity-challenges .activity-challenges__content .challenges-action {
    flex: 1;
    border: 1px solid #bbbbbb;
    border-left: 0px;
    padding: 16px 8px;
    background-color: var(--white);
}

.activity-challenges__content .challenges-action .challenges-action__search {

}

.challenges-action .challenges-action__search .challenge-search {
    position: relative;
}

.challenges-action__search .challenge-search .challenge-search-keyword {
    font-size: 16px;
    padding: 8px 32px 8px 8px;
    width: 100%;
    border: 1px solid var(--black);
}

.challenges-action__search .challenge-search .challenge-search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 12px;
    display: inline-flex;
}

.activity-challenges__content .challenges-action .challenges-action__content {
}

.challenges-action .challenges-action__content .challenges-action-item {

}

.challenges-action .challenges-action__content .challenges-action-item + .challenges-action-item {
    margin-top: 8px;
}

.challenges-action__content .challenges-action-item .challenge-action-btn {
    padding: 8px 16px;
    border: 1px solid #bbbbbb;
    width: 100%;
}

.challenges-action-item .challenge-action-btn.challenge-action-btn--solve {
/*    box-shadow: 0px 0px 2px 0 var(--black);
    font-weight: bold;*/
}

.challenges-action-item .challenge-action-btn.challenge-action-btn--mark {
    /*    box-shadow: 0px 0px 2px 0 var(--black);
    font-weight: bold;*/
}

.challenges-action-item .challenge-action-btn.challenge-action-btn--clear {
    /*    box-shadow: 0px 0px 2px 0 var(--black);
    font-weight: bold;*/
}

.challenges-action-item .challenge-action-btn.challenge-action-btn--restore {
    /*    box-shadow: 0px 0px 2px 0 var(--black);
    font-weight: bold;*/
}












/* Display On: PC, Tablet, Mobile */
/*PC*/
@media (min-width: 64em) {
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
/*    .content__container .breadcrumb {
        padding: 8px 48px;
    }*/

    .content__container .activity-challenges {
        padding: 32px 48px;
    }
}

/*Mobile*/
@media (max-width: 46.1875em) {
/*    .content__container .breadcrumb {
        padding: 8px 12px;
    }*/

    .content__container .activity-challenges {
        padding: 32px 12px;
    }
}

/*Tablet and Mobile*/
@media (max-width: 63.9375em) {
}
