@page "/challenges"
@model EasyCodeAcademy.Web.Pages.Activities.IndexModel
@{
}

<div class="content__container">
@*    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__list__item">
                <a href="/" class="breadcrumb-link">Home</a>
                <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="breadcrumb__list__item breadcrumb-current">Challenges</li>
        </ul>
    </div>*@
    
    <div class="activity-challenges">
        <div class="activity-challenges__title sub-heading">Code Challenges</div>
        <div class="activity-challenges__content mt-16">
            <div class="challenges-container">
                <div class="challenges-container__filter">
                    <div class="challenges-filter-item">
                        <span class="challenges-filter-title">Levels:</span>
                        <span class="challenges-filter-value">All</span>
                        <form class="challenges-filter-form" action="" method="post">
                            <select name="filter-levels" class="challenges-filter-select">
                                <option value="0" class="challenges-filter-option">All</option>
                                <option value="1" class="challenges-filter-option">Easy</option>
                                <option value="2" class="challenges-filter-option">Medium</option>
                                <option value="3" class="challenges-filter-option">Hard</option>
                                <option value="4" class="challenges-filter-option">Extreme</option>
                            </select>
                        </form>
                    </div>
                    <div class="challenges-filter-item">
                        <span class="challenges-filter-title">Topic:</span>
                        <span class="challenges-filter-value">Programming Language</span>
                        <form class="challenges-filter-form" action="" method="post">
                            <select name="filter-topic" class="challenges-filter-select">
                                <option value="0" class="challenges-filter-option">Programming Language</option>
                                <option value="1" class="challenges-filter-option">Problem Solving</option>
                                <option value="2" class="challenges-filter-option">Data Structure & Algorithm</option>
                                <option value="3" class="challenges-filter-option">Mathematics</option>
                                <option value="4" class="challenges-filter-option">RegExp</option>
                            </select>
                        </form>
                    </div>
                    <div class="challenges-filter-item">
                        <span class="challenges-filter-title">Point:</span>
                        <span class="challenges-filter-value">Auto</span>
                        <form class="challenges-filter-form" action="" method="post">
                            <select name="filter-point" class="challenges-filter-select">
                                <option value="0" class="challenges-filter-option">Auto</option>
                                <option value="1" class="challenges-filter-option">Lowest To Highest</option>
                                <option value="2" class="challenges-filter-option">Highest To Lowest</option>
                            </select>
                        </form>
                    </div>
                    <div class="challenges-filter-item">
                        <span class="challenges-filter-title">Mode:</span>
                        <span class="challenges-filter-value">Auto</span>
                        <form class="challenges-filter-form" action="" method="post">
                            <select name="filter-mode" class="challenges-filter-select">
                                <option value="0" class="challenges-filter-option">Auto</option>
                                <option value="1" class="challenges-filter-option">Unlocked</option>
                                <option value="2" class="challenges-filter-option">Locked</option>
                            </select>
                        </form>
                    </div>
                    <div class="challenges-filter-item">
                        <span class="challenges-filter-title">Challenges Interested:</span>
                        <span class="challenges-filter-value">Auto</span>
                        <form class="challenges-filter-form" action="" method="post">
                            <select name="filter-interest" class="challenges-filter-select">
                                <option value="0" class="challenges-filter-option">Auto</option>
                                <option value="1" class="challenges-filter-option">Most Interested</option>
                                <option value="2" class="challenges-filter-option">Locked</option>
                            </select>
                        </form>
                    </div>
                    <div class="challenges-filter-item">
                        <span class="challenges-filter-title">Pass Percent:</span>
                        <span class="challenges-filter-value">Auto</span>
                        <form class="challenges-filter-form" action="" method="post">
                            <select name="filter-pass" class="challenges-filter-select">
                                <option value="0" class="challenges-filter-option">Auto</option>
                                <option value="1" class="challenges-filter-option">Highest To Lowest</option>
                                <option value="2" class="challenges-filter-option">Lowest To Highest</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="challenges-container__list">
                    <table class="challenges-list-table">
                        <thead class="challenges-list-thead">
                            <tr class="challenges-list-tr">
                                <th class="challenges-list-th">Id</th>
                                <th class="challenges-list-th">Challenge</th>
                                <th class="challenges-list-th">Level</th>
                                <th class="challenges-list-th">Participant</th>
                                <th class="challenges-list-th">Pass %</th>
                                <th class="challenges-list-th">Points</th>
                            </tr>
                        </thead>
                        <tbody class="challenges-list-tbody">
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#1</td>
                                <td class="challenges-list-td">Print Out The Console Text "Hello World!"</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">190,201</td>
                                <td class="challenges-list-td">90%</td>
                                <td class="challenges-list-td">3 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#2</td>
                                <td class="challenges-list-td">Sum Of Two Integer Number</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">135,051</td>
                                <td class="challenges-list-td">89%</td>
                                <td class="challenges-list-td">4 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#3</td>
                                <td class="challenges-list-td">Find Min, Max Of Number</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">145,051</td>
                                <td class="challenges-list-td">82%</td>
                                <td class="challenges-list-td">4 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#4</td>
                                <td class="challenges-list-td">Rounded Number</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">124,012</td>
                                <td class="challenges-list-td">85%</td>
                                <td class="challenges-list-td">5 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#5</td>
                                <td class="challenges-list-td">Print Array Number</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">111,435</td>
                                <td class="challenges-list-td">85%</td>
                                <td class="challenges-list-td">4 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#6</td>
                                <td class="challenges-list-td">Find Min, Max Of Array</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">161,768</td>
                                <td class="challenges-list-td">75%</td>
                                <td class="challenges-list-td">5 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#7</td>
                                <td class="challenges-list-td">Find Sum Of Array</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">165,186</td>
                                <td class="challenges-list-td">79%</td>
                                <td class="challenges-list-td">5 Points</td>
                            </tr>
                            <tr class="challenges-list-tr">
                                <td class="challenges-list-td challenges-list-id">#8</td>
                                <td class="challenges-list-td">Find String Value</td>
                                <td class="challenges-list-td">Easy</td>
                                <td class="challenges-list-td">104,631</td>
                                <td class="challenges-list-td">80%</td>
                                <td class="challenges-list-td">5 Points</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="challenges-action">
                <div class="challenges-action__search">
                    <form class="challenge-search" action="" method="get">
                        <input type="text" class="challenge-search-keyword" placeholder="Search Keyword" />
                        <button type="submit" class="challenge-search-btn btn-restart">
                            <i b-nfwhehp8gw="" class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="challenges-action__content mt-16">
                    <div class="challenges-action-item">
                        <form class="challenge-action-form" action="/challenge/solve" method="get">
                            <button type="submit" class="challenge-action-btn challenge-action-btn--solve disabled btn-restart">
                                Start Challenge
                            </button>
                        </form>
                    </div>
                    <div class="challenges-action-item">
                        <form class="challenge-action-form" action="/challenge/solve" method="get">
                            <button type="button" class="challenge-action-btn challenge-action-btn--mark disabled btn-restart">
                                Mark Challenge
                            </button>
                        </form>
                    </div>
                    <div class="challenges-action-item">
                        <button type="button" class="challenge-action-btn challenge-clear-select-btn disabled btn-restart">
                            Clear Select
                        </button>
                    </div>
                    <div class="challenges-action-item">
                        <form class="challenge-action-form" action="/challenge/solve" method="get">
                            <button type="button" class="challenge-action-btn challenge-action-btn--clear disabled btn-restart">
                                Clear Search
                            </button>
                        </form>
                    </div>
                    <div class="challenges-action-item">
                        <form class="challenge-action-form" action="/challenge/solve" method="get">
                            <button type="button" class="challenge-action-btn challenge-action-btn--restore disabled btn-restart">
                                Restore Settings
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // Challenge Click Event
        const startBtn = document.querySelector(".challenge-action-btn--solve");
        const markBtn = document.querySelector(".challenge-action-btn--mark");
        const clearSelectBtn = document.querySelector(".challenge-clear-select-btn");
        const challengesId = document.querySelectorAll(".challenges-list-id");

        challengesId.forEach(item => {
            item.addEventListener("click", function() {
                if (item.parentElement) {
                    const rowChallenges = document.getElementsByClassName(this.parentElement.classList);
                    if (!item.parentElement.classList.contains("orangeYellow")) {
                        for (let i = 0; i < rowChallenges.length; i++) {
                            if (rowChallenges[i].classList.contains("orangeYellow")) {
                                rowChallenges[i].classList.remove("orangeYellow");
                            }
                        }
                    }
                    item.parentElement.classList.add("orangeYellow");

                    if (startBtn.classList.contains("disabled")) {
                        startBtn.classList.remove("disabled");
                    }

                    if (markBtn.classList.contains("disabled")) {
                        markBtn.classList.remove("disabled");
                    }

                    if (clearSelectBtn.classList.contains("disabled")) {
                        clearSelectBtn.classList.remove("disabled");
                    }
                }
            });
        });

        // Clear Challenge Select
        clearSelectBtn.addEventListener("click", function() {
            if (!clearSelectBtn.classList.contains("disabled")) {

                if (!startBtn.classList.contains("disabled")) {
                    startBtn.classList.add("disabled");
                }

                if (!markBtn.classList.contains("disabled")) {
                    markBtn.classList.add("disabled");
                }

                if (!clearSelectBtn.classList.contains("disabled")) {
                    clearSelectBtn.classList.add("disabled");
                }

                challengesId.forEach(item => {
                    if (item.parentElement.classList.contains("orangeYellow")) {
                        item.parentElement.classList.remove("orangeYellow");
                    }
                });
            }
        });

        //window.addEventListener("click", function(ev) {
        //    if (ev.target.matches(".challenges-list-td")) {
        //        if (startBtn.classList.contains("disabled"))
        //        {
        //            startBtn.classList.remove("disabled");
        //        }
        //        if (markBtn.classList.contains("disabled"))
        //        {
        //            markBtn.classList.remove("disabled");
        //        }
        //    }
        //});


    </script>
}