.content__container[custom-page-course-details] {
}

.breadcrumb[custom-page-course-details] {
    padding: 8px 96px;
    background-color: #f3f3f3;
}

.breadcrumb .breadcrumb__list[custom-page-course-details] {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.breadcrumb .breadcrumb__list .breadcrumb__list__item[custom-page-course-details] {
    display: flex;
    align-items: center;
}

.breadcrumb__list .breadcrumb__list__item.breadcrumb-current[custom-page-course-details] {
    color: var(--blue_purple);
    font-weight: bold;
}

.breadcrumb__list .breadcrumb__list__item .breadcrumb-link[custom-page-course-details] {
    text-decoration: none;
    color: var(--text-black);
}

.breadcrumb__list .breadcrumb__list__item i[custom-page-course-details] {
    margin: 0 8px;
}

.content__container .course-details-info[custom-page-course-details] {
    /*    margin-top: 24px;*/
    padding: 24px 96px;
    /*    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 9px, rgba(9, 30, 66, 0.13) 0px 0px 9px 1px;*/
    /*    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
    /*    border-top: 1px solid #f8ff2821;
    border-bottom: 1px solid #f8ff2821;*/
    display: flex;
    justify-content: space-between;
    /*    background-color: #f8ff2821;*/
    /*    background-image: linear-gradient(45deg, #e7f1fc, transparent);*/
    background-image: url("/Assets/img/mountain_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.content__container .course-details-info .course-info[custom-page-course-details] {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(245,245,245, 0.9);
    padding: 32px 16px;
    box-shadow: 0px 0px 6px 0 #bbbbbb inset;
    border-radius: 8px;
}

.course-details-info .course-info .course-info__title[custom-page-course-details] {
    font-weight: bold;
}

.course-details-info .course-info .course-info__author[custom-page-course-details] {

}

.course-info .course-info__author .course-author[custom-page-course-details] {
    text-decoration: none;
    color: var(--blue_purple);
    font-weight: bold;
}

.course-details-info .course-info .course-info__vote[custom-page-course-details] {
}

.course-info .course-info__vote i[custom-page-course-details] {
    color: var(--yellow);
}

.course-info .course-info__vote .course-vote-total[custom-page-course-details] {
    text-decoration: none;
    color: var(--blue_purple);
    font-weight: bold;
}

.course-details-info .course-info .course-info__language[custom-page-course-details] {

}

.course-info .course-info__language .course-language[custom-page-course-details] {
    font-weight: bold;
}

.course-details-info .course-info .course-info__total-time[custom-page-course-details] {

}

.course-info .course-info__total-time .course-total-time[custom-page-course-details] {
    text-decoration: none;
    color: var(--blue_purple);
    font-weight: bold;
}

.course-details-info .course-info .course-info__price[custom-page-course-details] {
    display: flex;
    flex-wrap: wrap;
}

.course-info .course-info__price .course-price-normal[custom-page-course-details] {
    text-decoration: line-through;
    margin-right: 8px;
}

.course-info .course-info__price .course-price-sales[custom-page-course-details] {
    margin-right: 8px;
}

.course-info .course-info__price .course-price-status[custom-page-course-details] {
    
}

.course-info .course-info__price .course-price-status[custom-page-course-details] {
    font-weight: bold;
    border: 1px solid var(--black);
    padding: 4px 8px;
}

.course-details-info .course-info .course-info__action[custom-page-course-details] {
    display: flex;
}

.course-info .course-info__action .course-add-inventory[custom-page-course-details] {
    border: 1px solid var(--black);
    padding: 8px 24px;
    font-weight: bold;
    width: 140px;
    min-width: 140px;
}

.course-info .course-info__action .course-purchase[custom-page-course-details] {
    background-color: var(--green);
    padding: 8px 24px;
    text-decoration: none;
    box-shadow: 0px 0px 6px 0 var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    font-weight: bold;
    display: inline-block;
    width: 140px;
    min-width: 140px;
    text-align: center;
    margin-left: 16px;
}

.content__container .course-details-info .course-video[custom-page-course-details] {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
}

.course-details-info .course-video .course-video__container[custom-page-course-details] {
    position: relative;
    width: 100%;
    display: flex;
    background-color: rgba(245,245,245, 0.9);
    border-radius: 8px;
}

.course-video .course-video__container .course-video-content[custom-page-course-details] {
    width: 100%;
    min-width: 200px;
}

.course-video .course-video__container .course-video-play[custom-page-course-details] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 200px;
    border-radius: 8px;
}

.course-video__container .course-video-play i[custom-page-course-details] {
    font-size: 72px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
}

.content__container .course-details-content[custom-page-course-details] {
    margin-top: 24px;
    padding: 24px 96px;
}

.content__container .course-details-content .course-overview[custom-page-course-details] {
}

.course-details-content .course-section-title[custom-page-course-details] {
    font-weight: bold;
    color: var(--text-black);
    border-bottom: 3px solid var(--text-black);
    display: inline-block;
}

.course-details-content .course-overview .course-overview__content[custom-page-course-details] {
    border: 1px solid #bbbbbb;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--white);
}

.course-overview .course-overview__content .course-overview-text[custom-page-course-details] {
    text-align: justify;
}

.course-overview .course-overview__content .course-overview-text + .course-overview-text[custom-page-course-details] {
    margin-top: 8px;
}

.content__container .course-details-content .course-include[custom-page-course-details] {
}

.course-details-content .course-include .course-include__content[custom-page-course-details] {
}

.course-include .course-include__content .course-include-list[custom-page-course-details] {
    list-style-type: none;
    border: 1px solid #bbbbbb;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    min-width: 200px;
    background-color: var(--white);
    border-radius: 16px;
}

.course-include__content .course-include-list .course-include-list__item[custom-page-course-details] {
    width: calc(90% / 2);
    display: flex;
    align-items: center;
}

.course-include-list .course-include-list__item i[custom-page-course-details] {
    margin-right: 20px;
    width: 20px;
    min-width: 16px;
}

.course-include-list .course-include-list__item .course-time[custom-page-course-details] {
}

.content__container .course-details-content .course-requirement[custom-page-course-details] {
}

.course-details-content .course-requirement .course-requirement__content[custom-page-course-details] {
    background-color: var(--white);
    border: 1px solid #bbbbbb;
    border-radius: 16px;
    padding: 16px;
}

.course-requirement__content .course-requirement-list .course-requirement-list__item + .course-requirement-list__item[custom-page-course-details] {
    margin-top: 24px;
}

.content__container .course-details-content .course-achievement[custom-page-course-details] {
}

.course-details-content .course-achievement .course-achievement__content[custom-page-course-details] {
}

.course-achievement .course-achievement__content .course-achievement-list[custom-page-course-details] {
    border: 1px solid #bbbbbb;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    min-width: 200px;
    background-color: var(--white);
    border-radius: 16px;
    list-style-type: none;
}

.course-achievement__content .course-achievement-list .course-achievement-list__item[custom-page-course-details] {
    width: calc(90% / 2);
}

.course-achievement-list .course-achievement-list__item i[custom-page-course-details] {
    margin-right: 20px;
    width: 20px;
    min-width: 16px;
}

.content__container .course-details-content .course-content[custom-page-course-details] {
}

.course-details-content .course-content .course-content__container[custom-page-course-details] {
    background-color: var(--white);
    min-width: 200px;
}

.course-content .course-content__container .course-content-summary[custom-page-course-details] {
    border: 1px solid #bbbbbb;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.course-content .course-content__container .course-content-chapter[custom-page-course-details] {
    border: 1px solid #bbbbbb;
    border-top: 0px;
    padding: 16px;
}

.course-content-summary .course-content-summary__all .course-summary-item[custom-page-course-details] {
}

.course-content-summary .course-content-summary__all .course-summary-item[custom-page-course-details]::after {
    content: "-";
    display: inline-block;
    margin: 0 8px;
}

.course-content-summary .course-content-summary__all .course-summary-item:last-child[custom-page-course-details]::after{
    display: none;
}

.course-content-summary .course-content-summary__action .course-content-action[custom-page-course-details] {
    font-weight: bold;
}

.course-content .course-content__container .course-content-chapter[custom-page-course-details] {
}

.course-content__container .course-content-chapter .course-chapter-list[custom-page-course-details] {
    list-style-type: none;
}

.course-content-chapter .course-chapter-list .course-chapter-list__item + .course-chapter-list__item[custom-page-course-details] {
    margin-top: 16px;
}

.course-chapter-list .course-chapter-list__item .courses-chapter-item-container[custom-page-course-details] {
/*    box-shadow: 0px 0px 1px 0 var(--black);*/
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.courses-chapter-item-container .course-chapter-action i[custom-page-course-details] {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    min-width: 16px;
}

.courses-chapter-item-container .course-chapter-action .course-chapter-btn[custom-page-course-details] {
}

.courses-chapter-item-container .course-chapter-action .course-chapter-btn[custom-page-course-details]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(188, 188, 188, 0.2);
}

.course-chapter-list__item .courses-chapter-item-container .course-chapter-info[custom-page-course-details] {

}

.courses-chapter-item-container .course-chapter-info .course-chapter-info__item[custom-page-course-details] {
}

.courses-chapter-item-container .course-chapter-info .course-chapter-info__item[custom-page-course-details]::after {
    content: "-";
    display: inline-block;
    margin: 0 8px;
}

.courses-chapter-item-container .course-chapter-info .course-chapter-info__item:last-child[custom-page-course-details]::after {
    display: none;
}

.course-chapter-list .course-chapter-list__item .course-lesson-list[custom-page-course-details] {
    list-style-type: none;
    border: 1px solid #bbbbbb;
    border-top: 0px;
    background-color: var(--white);
    display: none;
}

.course-chapter-list__item .course-lesson-list .course-lesson-list__item[custom-page-course-details] {
    position: relative;
}

.course-chapter-list__item .course-lesson-list .course-lesson-list__item + .course-lesson-list__item[custom-page-course-details] {
    margin-top: 8px;
}

.course-lesson-list .course-lesson-list__item .course-lesson-item-container[custom-page-course-details] {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    position: relative;
}

.course-lesson-list__item .course-lesson-item-container .course-lesson-action[custom-page-course-details] {
}

.course-lesson-item-container .course-lesson-action i[custom-page-course-details] {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    min-width: 16px;
}

.course-lesson-item-container .course-lesson-action .course-lesson-link[custom-page-course-details] {
    text-decoration: none;
    display: inline-block;
    color: var(--blue_purple);
}

.course-lesson-item-container .course-lesson-action .course-lesson-link[custom-page-course-details]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.course-lesson-list__item .course-lesson-item-container .course-lesson-info[custom-page-course-details] {
}

.course-lesson-item-container .course-lesson-info .course-lesson-info__item[custom-page-course-details] {
}

.course-lesson-item-container .course-lesson-info .course-lesson-info__item[custom-page-course-details]::after {
    content: "-";
    display: inline-block;
    margin: 0 8px;
}

.course-lesson-item-container .course-lesson-info .course-lesson-info__item:last-child[custom-page-course-details]::after {
    display: none;
}

.course-lesson-list .course-lesson-list__item .course-lesson-expand[custom-page-course-details] {
    position: absolute;
    top: 20px;
    left: 140px;
    transform: translate(0, -50%);
}

.course-lesson-list__item .course-lesson-expand .lesson-expand-exercises_btn[custom-page-course-details] {
    padding: 2px 8px;
    background-color: var(--white);
    /*    border: 1px solid var(--black);*/
    box-shadow: 0px 0px 1px 0 var(--black);
    font-size: 14px;
}

.course-lesson-expand .lesson-expand-exercises_btn i[custom-page-course-details] {
    width: 20px;
    height: 20px;
    min-width: 16px;
    margin-right: 8px;
}

.course-lesson-list .course-lesson-list__item .course-exercise-list[custom-page-course-details] {
    list-style-type: none;
    position: relative;
    display: none;
}

    .course-lesson-list .course-lesson-list__item .course-exercise-list[custom-page-course-details]::before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 24px;
        border-right: 1px dotted var(--black);
        /*height: 101px;*/
        height: var(--Listheight, 0);
    }

.course-lesson-list__item .course-exercise-list .course-exercise-list__item[custom-page-course-details] {
    position: relative;
}

    .course-lesson-list__item .course-exercise-list .course-exercise-list__item[custom-page-course-details]::before {
        content: "";
        display: block;
        position: absolute;
        /*    top: 20px;*/
        top: var(--Itemheight, 0);
        left: 26px;
        border-bottom: 1px dotted var(--black);
        width: 20px;
    }

.course-exercise-list .course-exercise-list__item .course-exercise-item-container[custom-page-course-details] {
    display: flex;
    padding: 8px 16px;
}

.course-exercise-list__item .course-exercise-item-container .course-exercise-action[custom-page-course-details] {
    position: relative;
    width: 100%;
    margin-left: 32px;
}

.course-exercise-item-container .course-exercise-action i[custom-page-course-details] {
    width: 20px;
    height: 20px;
    min-width: 16px;
    margin-right: 8px;
}

.course-exercise-item-container .course-exercise-action .course-exercise-link[custom-page-course-details] {
    text-decoration: none;
    color: var(--blue_purple);
}

    .course-exercise-item-container .course-exercise-action .course-exercise-link[custom-page-course-details]::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.content__container .course-details-content .course-contribute[custom-page-course-details] {
}

.course-details-content .course-contribute .course-contribute__content[custom-page-course-details] {
    background-color: var(--white);
    min-width: 200px;
}

.course-contribute .course-contribute__content .course-contribute-member[custom-page-course-details] {
    padding: 16px;
    border: 1px solid #bbbbbb;
}

.course-contribute__content .course-contribute-member .course-contribute-member__title[custom-page-course-details] {
    font-weight: bold;
    margin-right: 8px;
}

.course-contribute__content .course-contribute-member .contribute-member-btn[custom-page-course-details] {
/*    background-color: #c1a64b5e;
    padding: 4px 8px;*/
    color: var(--blue_purple);
    font-weight: bold;
}

.course-contribute__content .course-contribute-member .contribute-member-btn + .contribute-member-btn[custom-page-course-details] {
    
}

.course-contribute__content .course-contribute-member .contribute-member-comma[custom-page-course-details] {
    margin: 0 8px 0 2px;
    color: var(--blue_purple);
    font-weight: bold;
}

.course-contribute .course-contribute__content .course-contribute-info[custom-page-course-details] {
    padding: 16px;
    border: 1px solid #bbbbbb;
    border-top: 0px;
}

.course-contribute__content .course-contribute-info .course-contribute-info__container[custom-page-course-details] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-contribute__content .course-contribute-info .course-contribute-info__container + .course-contribute-info__container[custom-page-course-details] {
    border-top: 1px solid #d6d6d6;
    padding-top: 32px;
}

.course-contribute-info .course-contribute-info__container .contribute-info[custom-page-course-details] {
    display: flex;
}

.course-contribute-info__container .contribute-info .member-contribute-info[custom-page-course-details] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contribute-info .member-contribute-info .member-contribute-info__img[custom-page-course-details] {
    display: inline-flex;
}

.member-contribute-info .member-contribute-info__img .contributor-img[custom-page-course-details] {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #d69c3acc;
    box-shadow: 0px 0px 16px 0 #d69c3acc;
}

.course-contribute-info .course-contribute-info__container .member-contribute-name[custom-page-course-details] {
    width: 200px;
    text-align: center;
}

.course-contribute-info__container .member-contribute-name .member-contribute-name__text[custom-page-course-details] {
    color: var(--blue_purple);
    font-weight: bold;
}

.course-contribute-info .course-contribute-info__container .member-contribute-role[custom-page-course-details] {
    width: 200px;
    text-align: center;
}

.course-contribute-info__container .contribute-info .member-contribute-overview[custom-page-course-details] {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.member-contribute-overview .member-contribute-overview__item i[custom-page-course-details] {
    width: 20px;
    height: 20px;
    min-width: 16px;
    margin-right: 8px;
}

.course-contribute-info .course-contribute-info__container .course-contribute-info__content[custom-page-course-details] {
    text-align: justify;
    position: relative;
}

.course-contribute-info__container .course-contribute-info__content #paragraph-more[custom-page-course-details] {
    display: none;
}

.course-contribute-info__container .course-contribute-info__content .show-paragraph-btn[custom-page-course-details] {
    color: var(--text-black);
    font-weight: bold;
}

.content__container .course-details-rate[custom-page-course-details] {
    margin-top: 24px;
    padding: 24px 96px;
}

.content__container .course-details-rate .course-rate-title[custom-page-course-details] {
    font-weight: bold;
    border-bottom: 3px solid var(--text-black);
    display: inline-block;
}

.content__container .course-details-rate .course-rate-total[custom-page-course-details] {
    display: flex;
    background-color: var(--white);
    padding: 16px;
    border: 1px solid #bbbbbb;
}

.course-details-rate .course-rate-total .course-rate-total__point[custom-page-course-details] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.course-rate-total .course-rate-total__point .course-rate-point[custom-page-course-details] {
    font-weight: bold;
    color: #b09504;
}

.course-rate-total .course-rate-total__point .course-rate-star[custom-page-course-details] {
    color: var(--yellow);
}

.course-rate-total .course-rate-total__point .rate-point-meaning[custom-page-course-details] {
    font-weight: bold;
    color: #b09504;
}

.course-details-rate .course-rate-total .course-rate-total__progress[custom-page-course-details] {
    flex: 6;
}

.course-rate-total .course-rate-total__progress .rate-progress-bar[custom-page-course-details] {

}

.course-rate-total__progress .rate-progress-bar .progress-bar[custom-page-course-details] {
    display: flex;
    align-items: center;
}

.course-rate-total__progress .rate-progress-bar .progress-bar + .progress-bar[custom-page-course-details]  {
    margin-top: 8px;
}

.rate-progress-bar .progress-bar .progress-bar__container[custom-page-course-details] {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    width: 100%;
    height: 15px;
    display: flex;
    background-color: rgba(182, 182, 182, 0.25);
    flex: 2.5;
}

.progress-bar .progress-bar__container .p-100[custom-page-course-details] {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.75);
}

.progress-bar .progress-bar__container .p-75[custom-page-course-details] {
    width: 75%;
    background-color: rgba(51, 51, 51, 0.75);
}

.progress-bar .progress-bar__container .p-50[custom-page-course-details] {
    width: 50%;
    background-color: rgba(51, 51, 51, 0.75);
}

.progress-bar .progress-bar__container .p-25[custom-page-course-details] {
    width: 25%;
    background-color: rgba(51, 51, 51, 0.75);
}

.progress-bar .progress-bar__container .p-0[custom-page-course-details] {
    width: 0%;
    background-color: rgba(51, 51, 51, 0.75);
}

.rate-progress-bar .progress-bar .progress-value[custom-page-course-details] {
    flex: 1;
}

.progress-bar .progress-value .progress-star[custom-page-course-details] {
    margin-left: 8px;
    color: var(--yellow);
}

.progress-bar .progress-value .progress-value__percent[custom-page-course-details] {
    color: var(--blue_purple);
    border-bottom: 1px solid var(--blue_purple);
}

.content__container .course-details-rate .course-details-rate__content[custom-page-course-details] {
    margin-top: 48px;
}

.course-details-rate .course-details-rate__content .course-rate-content[custom-page-course-details] {

}

.course-details-rate__content .course-rate-content .course-rate-content__search[custom-page-course-details] {
    display: flex;
    align-items: stretch;
}

.course-rate-content .course-rate-content__search .rate-search-container[custom-page-course-details] {
    flex: 1;
    position: relative;
}

.rate-search-container .rate-search-form .rate-search-input[custom-page-course-details] {
    padding: 12px 48px 12px 12px;
    outline: none;
    border: 1px solid #bbbbbb;
    width: 100%;
}

.rate-search-container .rate-search-form .rate-search-btn[custom-page-course-details] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 12px;
    display: inline-flex;
}

.course-rate-content .course-rate-content__search .course-rate-filter[custom-page-course-details] {
    flex: 1;
    margin-left: 16px;
}

.course-rate-content__search .course-rate-filter .course-rate-form[custom-page-course-details] {
    height: 100%;
}

.course-rate-filter .course-rate-form .course-rate-filter__select[custom-page-course-details] {
    height: 100%;
    display: inline-block;
    border: 1px solid #bbbbbb;
    padding: 12px 48px 12px 12px;
    outline: none;
}

.course-rate-form .course-rate-filter__select .course-rate-filter__option[custom-page-course-details] {
}

.course-details-rate__content .course-rate-content .course-rate-content__container[custom-page-course-details] {
    background-color: var(--white);
    border: 1px solid #bbbbbb;
    padding: 16px;
}

.course-rate-content .course-rate-content__container .course-rate-reviewer[custom-page-course-details] {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    padding: 12px 0;
}

.course-rate-content .course-rate-content__container .course-rate-reviewer + .course-rate-reviewer[custom-page-course-details] {
    margin-top: 16px;
}

.course-rate-content .course-rate-content__container .course-rate-reviewer:last-child[custom-page-course-details] {
    border-bottom: 0px;
}

.course-rate-reviewer .course-rate-reviewer .course-rate-image[custom-page-course-details] {
}

.course-rate-reviewer .course-rate-image .reviewer-img-text[custom-page-course-details] {
    background-color: var(--black);
    color: var(--white);
    padding: 12px;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.course-rate-reviewer .course-rate-image .reviewer-img[custom-page-course-details] {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.course-rate-image .reviewer-img .reviewer-img__profile[custom-page-course-details] {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
}

.course-rate-content__container .course-rate-reviewer .course-rate-info[custom-page-course-details] {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.course-rate-reviewer .course-rate-info .course-rate-info__fullname[custom-page-course-details] {
    font-weight: bold;
}

.course-rate-reviewer .course-rate-info .course-rate-info__star[custom-page-course-details] {
    color: var(--yellow);
}

.course-rate-reviewer .course-rate-info .course-rate-info__content[custom-page-course-details] {
/*    width: 60%;*/
    text-align: justify;
}

.course-rate-reviewer .course-rate-info .course-rate-info__action[custom-page-course-details] {
}

.course-rate-info .course-rate-info__action .course-rate-reaction[custom-page-course-details] {
    font-size: 20px;
    border: 1px solid #bbbbbb;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: var(--white);
}

.course-rate-info .course-rate-info__action .course-rate-report[custom-page-course-details] {
    
}

.course-rate-info__action .course-rate-report .course-rate-report__container[custom-page-course-details] {
    position: relative;
    display: inline-block;
}

.course-rate-report .course-rate-report__container .course-rate-report__btn[custom-page-course-details] {
    font-size: 20px;
}

.course-rate-report .course-rate-report__container .course-rate-report__btn[custom-page-course-details]::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}













/* Display On: PC, Tablet, Mobile */
/*PC*/
@media (min-width: 64em) {
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .content__container .breadcrumb[custom-page-course-details] {
        padding: 8px 48px;
    }

    .content__container .course-details-info[custom-page-course-details] {
        padding: 24px 48px;
    }

    .content__container .course-details-content[custom-page-course-details] {
        padding: 24px 48px;
    }

    .content__container .course-details-rate[custom-page-course-details] {
        padding: 24px 48px;
    }

}

/*Mobile*/
@media (max-width: 46.1875em) {
    .content__container .breadcrumb[custom-page-course-details] {
        padding: 8px 12px;
    }

    .content__container .course-details-info[custom-page-course-details] {
        padding: 24px 12px;
    }

    .content__container .course-details-content[custom-page-course-details] {
        padding: 24px 12px;
    }

    .course-content .course-content__container .course-content-summary[custom-page-course-details] {
        flex-direction: column;
        align-items: center;
        gap: 24px 0px;
    }

    .course-content__container .course-content-summary .course-content-summary__action[custom-page-course-details] {
        width: 100%;
    }

    .course-content-summary .course-content-summary__action .course-content-action[custom-page-course-details] {
        padding: 8px 16px;
        width: 100%;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        background-color: var(--white);
    }

    .course-chapter-list__item .courses-chapter-item-container .course-chapter-info[custom-page-course-details] {
        display: none;
    }

    .course-lesson-list__item .course-lesson-item-container .course-lesson-info[custom-page-course-details] {
        display: none;
    }

    .course-contribute__content .course-contribute-info .course-contribute-info__container[custom-page-course-details] {
        align-items: center;
    }

    .course-contribute-info__container .contribute-info .member-contribute-overview[custom-page-course-details] {
        display: none;
    }

    .content__container .course-details-rate[custom-page-course-details] {
        padding: 24px 12px;
    }



    .rate-progress-bar .progress-bar .progress-bar__container[custom-page-course-details] {
        flex: 1;
    }

    .rate-progress-bar .progress-bar .progress-value[custom-page-course-details] {
        flex: 1;
    }

    .course-details-rate__content .course-rate-content .course-rate-content__search[custom-page-course-details] {
        flex-direction: column;
        gap: 12px 0px;
    }

    .course-rate-content .course-rate-content__search .course-rate-filter[custom-page-course-details] {
        margin-left: 0px;
    }

    .course-rate-filter .course-rate-form .course-rate-filter__select[custom-page-course-details] {
        width: 100%;
    }

    .course-rate-reviewer .course-rate-info .course-rate-info__content[custom-page-course-details] {
/*        width: 90%;*/
    }
}

/*Tablet and Mobile*/
@media (max-width: 63.9375em) {
    .content__container .course-details-info[custom-page-course-details] {
        flex-direction: column;
    }

    .content__container .course-details-info .course-info[custom-page-course-details] {
        order: 2;
        margin-top: 16px;
    }

    .course-details-info .course-info .course-info__action[custom-page-course-details] {
        flex-direction: column;
    }


    .course-info .course-info__action .course-add-inventory[custom-page-course-details] {
        width: 100%;
    }

    .course-info .course-info__action .course-purchase[custom-page-course-details] {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
    }

    .content__container .course-details-info .course-video[custom-page-course-details] {
        order: 1;
        margin-left: 0;
    }

    .course-details-content .course-include .course-include__content[custom-page-course-details] {
        flex-direction: column;
    }

    .course-include__content .course-include-list .course-include-list__item[custom-page-course-details] {
        width: 100%;
    }

    .course-details-content .course-achievement .course-achievement__content[custom-page-course-details] {
        flex-direction: column;
    }

    .course-achievement__content .course-achievement-list .course-achievement-list__item[custom-page-course-details] {
        width: 100%;
    }

    .course-rate-total__progress .rate-progress-bar .progress-bar + .progress-bar[custom-page-course-details] {
        margin-top: 16px;
    }

    .content__container .course-details-rate .course-rate-total[custom-page-course-details] {
        flex-direction: column;
        gap: 24px 0px;
    }
}