@page
@model EasyCodeAcademy.Web.Pages_Manage_Topics.EditModel

@{
    ViewData["ContentTitle"] = "Edit Topic";
    ViewData["ManageSection"] = "Topic";
    ViewData["Title"] = "EasyCode Manage - Edit Topic";
    ViewData["GuideTitle"] = "How To Edit Topic";
    ViewData["GuideList"] = new String[]
    {
        "Topic Name Must Have atleast 1 character and Maximum is 255",
        "Fill all the information required <span class='asterisk text-danger'>*</span>",
        "Topic must clean, easy to read and have specific meaning"
    };

    Layout = "_CRUDLayout";
}

@*<h1>Edit</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Topic.TopicId" />
            <div class="form-group">
                <label asp-for="Topic.TopicName" class="control-label"></label>
                <input asp-for="Topic.TopicName" class="form-control" />
                <span asp-validation-for="Topic.TopicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.created_date" class="control-label"></label>
                <input asp-for="Topic.created_date" class="form-control" />
                <span asp-validation-for="Topic.created_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.updated_date" class="control-label"></label>
                <input asp-for="Topic.updated_date" class="form-control" />
                <span asp-validation-for="Topic.updated_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.CateId" class="control-label"></label>
                <select asp-for="Topic.CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                <span asp-validation-for="Topic.CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>*@


@*<form method="post" class="action-form">
    <div asp-validation-summary="ModelOnly" class="text-danger text-medium"></div>
    <input type="hidden" asp-for="Topic.TopicId" />
    <div class="form-group">
        <span asp-validation-for="Topic.TopicName" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Topic.TopicName" class="control-label"></label>
        <input asp-for="Topic.TopicName" class="form-control text-normal" />
    </div>

    <div class="form-group">
        <span asp-validation-for="Topic.created_date" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Topic.created_date" class="control-label"></label>
        <input asp-for="Topic.created_date" class="form-control text-normal" />
    </div>

    <div class="form-group">
        <span asp-validation-for="Topic.updated_date" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Topic.updated_date" class="control-label"></label>
        <input asp-for="Topic.updated_date" class="form-control text-normal" />
    </div>

    <div class="form-group">
        <span asp-validation-for="Topic.CateId" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Topic.CateId" class="control-label"></label>
        <select asp-for="Topic.CateId" class="form-control text-normal" asp-items="ViewBag.CateId"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="form-btn btn-basic btn-restart" />
    </div>
</form>*@


<div class="form-item">
    <form method="post" class="action-form full-width" enctype="multipart/form-data">
        <div class="form-item__main">
            <div asp-validation-summary="ModelOnly" class="text-danger text-medium"></div>
            <input type="hidden" asp-for="Topic.TopicId" />
            <div class="form-group">
                <div class="form-group__alert">
                    <span asp-validation-for="Topic.TopicName" class="text-danger text-medium block mb-8"></span>
                </div>
                <div class="form-group__content">
                    <div class="label-container">
                        <span class="asterisk text-danger">*</span>
                        <label asp-for="Topic.TopicName" class="control-label"></label>
                    </div>
                    <div class="input-container">
                        <input asp-for="Topic.TopicName" class="form-control text-normal remove-outline border-primary-1 full-width" placeholder="Example: ASP.NET For Beginner" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group__alert">
                    <span asp-validation-for="Topic.created_date" class="text-danger text-medium block mb-8"></span>
                </div>
                <div class="form-group__content">
                    <div class="label-container">
                        <span class="asterisk text-danger">*</span>
                        <label asp-for="Topic.created_date" class="control-label"></label>
                    </div>
                    <div class="input-container">
                        <input asp-for="Topic.created_date" class="form-control text-normal remove-outline border-primary-1 full-width" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group__alert">
                    <span asp-validation-for="Topic.updated_date" class="text-danger text-medium block mb-8"></span>
                </div>
                <div class="form-group__content">
                    <div class="label-container">
                        <span class="asterisk text-danger">*</span>
                        <label asp-for="Topic.updated_date" class="control-label"></label>
                    </div>
                    <div class="input-container">
                        <input asp-for="Topic.updated_date" class="form-control text-normal remove-outline border-primary-1 full-width" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group__alert">
                <span asp-validation-for="Topic.CateId" class="text-danger text-medium block mb-8"></span>
            </div>
            <div class="form-group__content">
                <div class="label-container">
                    <span class="asterisk text-danger">*</span>
                    <label asp-for="Topic.CateId" class="control-label"></label>
                </div>
                <div class="input-container">
                    <select asp-for="Topic.CateId" class="form-control text-normal remove-outline border-primary-1 full-width" asp-items="ViewBag.CateId">
                        <option class="disabled">-- Select Category ---</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-submit">
                <input type="submit" value="Save" class="form-btn btn-basic btn-restart" />
            </div>
        </div>
    </form>
</div>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
