@page "/Inventory/PaypalCheckout"
@model EasyCodeAcademy.Web.Pages.Inventory.Checkout.IndexModel
@{
    Layout = "/Pages/Shared/_Identity_Layout.cshtml";
}

<p class="alert alert-danger">Checkout Session Not Found.</p>
