.form-item[b-78pi7xfso5] {
}

    .form-item .action-form .form-group[b-78pi7xfso5] {
    }

.action-form .form-group .form-group__alert[b-78pi7xfso5] {
    width: 100%;
}

.action-form .form-group .form-group__content[b-78pi7xfso5] {
    width: 100%;
    display: flex;
    align-items: center;
}

.form-group .form-group__content .label-container[b-78pi7xfso5] {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
}

.form-group .form-group__content .input-container[b-78pi7xfso5] {
    width: 85%;
}

.form-group__content .label-container .asterisk[b-78pi7xfso5] {
    width: 20px;
    height: 20px;
    min-width: 16px;
    text-align: center;
    display: inline-block;
}

.form-group .form-submit[b-78pi7xfso5] {
    text-align: right;
}

    .form-group .form-submit .form-btn[b-78pi7xfso5] {
        width: 240px;
        min-width: 200px;
    }

.form-item .action-form .form-item__main[b-78pi7xfso5] {
    margin-bottom: 64px;
}

.form-item .action-form .form-item__sub[b-78pi7xfso5] {
    margin-bottom: 32px;
}
