@page "/manage"
@model EasyCodeAcademy.Web.Pages.Manage.IndexModel
@{
    Layout = "_SubLayout";
    ViewData["ContentTitle"] = "Home";
    ViewData["Title"] = "EasyCode Manage - Home";
}

                <p>EasyCode Manage Used To Manage All The 
                    Aspect Of The Page Included: "Page Data, User Account, Dashboard, etc..."
                </p>
                <p>You Must Have Permission To Access This Page. Otherwise you cannot.</p>
                <p>Depend on different account that you have been granted some permisson to manage on this page, not all</p>
                <p>Super Admin is the highest role of this manage page, if you want to access 
                    which permisson you can contact your super admin to granted.
                </p>
