@page
@model EasyCodeAcademy.Web.Pages_Manage_Categories.CreateModel

@{
    ViewData["ContentTitle"] = "Create Category";
    ViewData["Title"] = "EasyCode Manage - Create Category";
    ViewData["RulesTitle"] = "To Create Category. They're have 3 rules";
    ViewData["RulesList"] = new String[]
    {
        "Category Name Must Have atleast 1 character and Maximum is 255",
        "Fill all the information required <span class='asterisk text-danger'>*</span>",
        "Category must clean, easy to read and have specific meaning"
    };

    Layout = "_CRUDLayout";
}

<form method="post" class="action-form">
    <div asp-validation-summary="ModelOnly" class="text-danger text-medium"></div>
    <div class="form-group">
        <span asp-validation-for="Category.CategoryName" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Category.CategoryName" class="control-label"></label>
        <input asp-for="Category.CategoryName" class="form-control text-normal" />
    </div>

    <div class="form-group">
        <span asp-validation-for="Category.created_date" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Category.created_date" class="control-label"></label>
        <input asp-for="Category.created_date" class="form-control text-normal" />

    </div>

    <div class="form-group">
        <span asp-validation-for="Category.updated_date" class="text-danger text-medium block mb-8"></span>
        <span class="asterisk text-danger">*</span>
        <label asp-for="Category.updated_date" class="control-label"></label>
        <input asp-for="Category.updated_date" class="form-control text-normal" />

    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="form-btn btn-basic btn-restart" />
    </div>
</form>

@*<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.created_date" class="control-label"></label>
                <input asp-for="Category.created_date" class="form-control" />
                <span asp-validation-for="Category.created_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.updated_date" class="control-label"></label>
                <input asp-for="Category.updated_date" class="form-control" />
                <span asp-validation-for="Category.updated_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
